### Python Basics

#### Simple Print Statement

In [1]:
print('Hello World!!')

Hello World!!

#### Printing Multiple Statements

In [2]:
print('This is Print statement')
print("Multiple print statements")

This is Print statement
Multiple print statements

#### Using variable to store Data

In [3]:
name = "Ashish" ## var name holds the value Ashish
age = "22"

print("My Name is " + name + ", I am " + age + " Years old") ## Using + name + to concatenate the print statement with value stored in var

My Name is Ashish, I am 22 Years old

#### Taking user input

In [4]:
name = input("Enter your Name: ")
print("Hello " + name + "!")

Enter your Name: Ashish
Hello Ashish!

#### Lists Example

In [5]:
friends = ["Akash", "Vishnu", "Karthik", "Vaibhav"] ## Index 0 = Akash, 1 = vishnu, 2 = karthik
friends.sort()
print(friends) ## friends[0] prints Akash, [1:] prints list values from index 1 onwards till n;

['Akash', 'Karthik', 'Vaibhav', 'Vishnu']

#### Tuples Examples

In [6]:
coordinates = (4, 5) ## Tuples are immutable
print(coordinates[0])

4

#### Dictionaries

In [7]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
}
# Key Value Pairs

##print(monthConversions["Feb"])
print(monthConversions.get("Mar"))

March

#### Comments

In [11]:
#This is Comment example
print("Comments for Fun") #This prints out a string 

# Single line Comment
# for multi line comment you need to add # to each line of comment
# first line
#second line..

Comments for Fun

#### Casting

In [13]:
a = str(3) # a will be '3'
b = int(3) # b will be 3
c = float(3) # c will be 3.0

print(a)
print(b)
print(c)

3
3
3.0

#### Get the type of Data type

In [15]:
x = 10
y = "Example"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#### Type Conversion

In [16]:
x = 1   # int 
y = 2.8 # float
z = 1j  # complex

#Convert from int to float:
a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#### Random Number

In [18]:
import random

print(random.randrange(1, 10))

6

### Python Strings

In [20]:
print("Hello") # Double Quotes works same as single quotes
print('Hello')

a = "Hello !!" #Assign String to a variable
print(a)

b = """ Hello you're in Multiline String
this is the multiline string.
"""    # use three double quotes to write multiline string
print(b)

c = "Hello, World" 
print(c[1]) # Strings are arrays

for x in "banana":
    print(x) # Looping through a string
    
# String Length
print(len(a))

txt = "The best things in life are freebies"
print("free" in txt)

if "free" in txt:
    print("Yes,  'free' is present.")

Hello
Hello
Hello !!
 Hello you're in Multiline String
this is the multiline string.

e
b
a
n
a
n
a
8
True
Yes,  'free' is present.

#### Python Slicing Strings

In [23]:
x = "Hello, world!"
print(x[2:5]) # Get the characters from position 2 to 5

print(x[:5]) # Get the characters from the start position 5

print(x[2:]) # Get the characters from position 2, and all the way to end

print(x[-5:-2])

llo
Hello
llo, world!
orl

#### Python - Modify Strings

In [24]:
a = "Hello, world!  "
print(a.upper()) # built-in method to make string characters to uppercase 

print(a.lower()) # this statement will make string characters to lowercase

print(a.strip()) # returns "Hello, world!"

print(a.replace("H", "T")) # replaces the char H to T

print(a.split(",")) # returns ["Hello", "world!"]

HELLO, WORLD!
hello, world!
Hello, world!
Tello, world!
['Hello', ' world!  ']

#### String Concatenation

In [25]:
a = "Hello"
b = "World"
c = a + b
print(c)

z = a + " " + b # this will add space between 
print(z)

HelloWorld
Hello World

#### String Format

In [26]:
age = 22
txt = "My name is Ash, and I am {}"
print(txt.format(age)) # As we know we cannot combine strings with numbers. So, to overcome we use format

My name is Ash, and I am 22

#### Python - Escape Characters

Code |Result
-----|-----
`\'`| Single Quote
`\\`|Backslash
`\n`|New Line
`\r`| Carriage Return
`\t`| Tab
`\b`|Backspace
`\ooo`|Octal value
`\xhh`|Hex Value

In [31]:
txt = "People of \"India\" ruling on IT Sector" # using Escape Character
print(txt)

People of "India" ruling on IT Sector