### Python Basics

#### Simple Print Statement

In [1]:
print('Hello World!!')

Hello World!!

#### Printing Multiple Statements

In [2]:
print('This is Print statement')
print("Multiple print statements")

This is Print statement
Multiple print statements

#### Using variable to store Data

In [3]:
name = "Ashish" ## var name holds the value Ashish
age = "22"

print("My Name is " + name + ", I am " + age + " Years old") ## Using + name + to concatenate the print statement with value stored in var

My Name is Ashish, I am 22 Years old

#### Taking user input

In [4]:
name = input("Enter your Name: ")
print("Hello " + name + "!")

Enter your Name: Ashish
Hello Ashish!

#### Lists Example

In [5]:
friends = ["Akash", "Vishnu", "Karthik", "Vaibhav"] ## Index 0 = Akash, 1 = vishnu, 2 = karthik
friends.sort()
print(friends) ## friends[0] prints Akash, [1:] prints list values from index 1 onwards till n;

['Akash', 'Karthik', 'Vaibhav', 'Vishnu']

#### Tuples Examples

In [6]:
coordinates = (4, 5) ## Tuples are immutable
print(coordinates[0])

4

#### Dictionaries

In [7]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
}
# Key Value Pairs

##print(monthConversions["Feb"])
print(monthConversions.get("Mar"))

March

#### Comments

In [11]:
#This is Comment example
print("Comments for Fun") #This prints out a string 

# Single line Comment
# for multi line comment you need to add # to each line of comment
# first line
#second line..

Comments for Fun

#### Casting

In [13]:
a = str(3) # a will be '3'
b = int(3) # b will be 3
c = float(3) # c will be 3.0

print(a)
print(b)
print(c)

3
3
3.0

#### Get the type of Data type

In [15]:
x = 10
y = "Example"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#### Type Conversion

In [16]:
x = 1   # int 
y = 2.8 # float
z = 1j  # complex

#Convert from int to float:
a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#### Random Number

In [18]:
import random

print(random.randrange(1, 10))

6

### Python Strings

In [20]:
print("Hello") # Double Quotes works same as single quotes
print('Hello')

a = "Hello !!" #Assign String to a variable
print(a)

b = """ Hello you're in Multiline String
this is the multiline string.
"""    # use three double quotes to write multiline string
print(b)

c = "Hello, World" 
print(c[1]) # Strings are arrays

for x in "banana":
    print(x) # Looping through a string
    
# String Length
print(len(a))

txt = "The best things in life are freebies"
print("free" in txt)

if "free" in txt:
    print("Yes,  'free' is present.")

Hello
Hello
Hello !!
 Hello you're in Multiline String
this is the multiline string.

e
b
a
n
a
n
a
8
True
Yes,  'free' is present.

#### Python Slicing Strings

In [23]:
x = "Hello, world!"
print(x[2:5]) # Get the characters from position 2 to 5

print(x[:5]) # Get the characters from the start position 5

print(x[2:]) # Get the characters from position 2, and all the way to end

print(x[-5:-2])

llo
Hello
llo, world!
orl

#### Python - Modify Strings

In [24]:
a = "Hello, world!  "
print(a.upper()) # built-in method to make string characters to uppercase 

print(a.lower()) # this statement will make string characters to lowercase

print(a.strip()) # returns "Hello, world!"

print(a.replace("H", "T")) # replaces the char H to T

print(a.split(",")) # returns ["Hello", "world!"]

HELLO, WORLD!
hello, world!
Hello, world!
Tello, world!
['Hello', ' world!  ']

#### String Concatenation

In [25]:
a = "Hello"
b = "World"
c = a + b
print(c)

z = a + " " + b # this will add space between 
print(z)

HelloWorld
Hello World

#### String Format

In [26]:
age = 22
txt = "My name is Ash, and I am {}"
print(txt.format(age)) # As we know we cannot combine strings with numbers. So, to overcome we use format

My name is Ash, and I am 22

#### Python - Escape Characters

Code |Result
-----|-----
`\'`| Single Quote
`\\`|Backslash
`\n`|New Line
`\r`| Carriage Return
`\t`| Tab
`\b`|Backspace
`\ooo`|Octal value
`\xhh`|Hex Value

In [31]:
txt = "People of \"India\" ruling on IT Sector" # using Escape Character
print(txt)

People of "India" ruling on IT Sector

#### Python Booleans
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [32]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [33]:
a = 200
b = 330

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

#### Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [34]:
print(10 + 9)

19

##### Python divides the operators in the following groups:
<ul>
    <li>Arithmetic operators</li>
    <li>Assignment operators</li>
    <li>Comparison operators</li>
    <li>Logical operators</li>
    <li>Identity operators</li>
    <li>Membership operators</li>
    <li>Bitwise operators</li>
</ul>

##### Python Arithmetic Operators
<p>Arithmetic operators are used with numeric values to perform common mathematical operations:</p>

Operator | Name | Example
---------|------|--------
`+`      | Addition| x + y 
`-`      | Substraction | x - y
`*`      | Multiplication | x * y
`/`      | Division | x / y
`%`      | Modulus | x % y
`**`     | Exponential | x ** y
`//`    | Floor Divison | x // y

<p> To get more related to operators visit <a href = "https://www.w3schools.com/python/python_operators.asp">here.</a> </p>

In [35]:
def add(x, y):
    return x+y

def sub(x, y):
    return x-y

def mul(x, y):
    return x*y

def mod(x, y):
    try:
        return x%y
    except:
        print("Enter the Valid Divisor")
        
def div(x, y):
    try:
        return x/y
    except:
        print("Enter the Valid Divisior")
        
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))

print("The addition of two numbers", num1 ," and ", num2, "is", add(num1, num2))
print("The subtraction of two numbers", num1 ," and ", num2, "is", sub(num1, num2))
print("The multiplication of two numbers", num1 ," and ", num2, "is", mul(num1, num2))
print("The modulus of two numbers", num1 ," and ", num2, "is", mod(num1, num2))
print("The Divison of two numbers", num1 ," and ", num2, "is", div(num1, num2))

Enter a number: 2
Enter another number: 5
The addition of two numbers 2  and  5 is 7
The subtraction of two numbers 2  and  5 is -3
The multiplication of two numbers 2  and  5 is 10
The modulus of two numbers 2  and  5 is 2
The Divison of two numbers 2  and  5 is 0.4

In [36]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
    
elif op == "-":
    print(num1 - num2)
    
elif op == "*":
    print(num1 * num2)
    
elif op == "/":
    print(num1 / num2)
elif op == "%":
    print(num1 % num2)
else:
    print("Enter valid operator")

Enter first number: 5
Enter operator: +
Enter second number: 5
10.0

#### Python Comparision Operators
Comparison operators are used to compare two values:

In [37]:
x = 5
y = 3

print(x == y) # Equal
print(x != y) # Not Equal
print(x > y)  # Greater than
print(x < y)  # Less than
print(x <= y) # Less than or Equal to
print(x >= y) # Greater than or Equal to

False
True
True
False
False
True

#### Python Logical Operators
Logical operators are used to combine conditional statements:

In [38]:
x = 5

print(x > 3 and x < 10) # returns True because 5 is greater than 3 AND 5 is less than 10

print(x > 3 or x < 4) # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

print(not(x > 3 and x < 10)) # returns False because not is used to reverse the result

# and, or, not are the three Logical operators

True
True
False

#### Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [43]:
x = ["Apple", "Google"]
y = ["Apple", "Google"]
z = x

## x is y
print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

print("------------------------------------------------------------------------------------")
## x is not y
print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
True
------------------------------------------------------------------------------------
False
True
False

#### Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [44]:
x = ["apple", "banana"]

print("banana" in x) # returns True because a sequence with the value "banana" is in the list

print("pineapple" not in x) # returns True because a sequence with the value "pineapple" is not in the list

# x in y
# x not in y

True
True

#### Python Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [45]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:
<ul>
    <li>List is a collection which is ordered and changeable. Allows duplicate members.</li>
    <li>Tuple is a collection which is ordered and unchangeable. Allows duplicate members.</li>
    <li>Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.</li>
    <li>Dictionary is a collection which is ordered** and changeable. No duplicate members.</li>
</ul>

#### Python - Access List Items

In [46]:
Fruitlist = ["apple", "banana", "cherry"]
print(Fruitlist[1])

banana

In [58]:
friends = ["Akash", "Vishnu", "Karthik", "Vaibhav", "Vijay"] ## Index 0 = Akash, 1 = vishnu, 2 = karthik
friends.sort()
print(friends) ## friends[0] prints Akash, [1:] prints list values from index 1 onwards till n;

print(friends[2:]) # Range of Indexes
#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

if "Karthik" in friends:
    print("Yes, 'Karthik' is in the friends")

['Akash', 'Karthik', 'Vaibhav', 'Vijay', 'Vishnu']
['Vaibhav', 'Vijay', 'Vishnu']
Yes, 'Karthik' is in the friends

#### Python Change List items

In [61]:
friends = ["Akash", "Vishnu", "Karthik", "Vaibhav", "Vijay"] ## Index 0 = Akash, 1 = vishnu, 2 = karthik
friends[1] = "Anand" # changing the value at position 1 vishnu to Anand
print(friends)

#insert new items to the list
friends.insert(2, "Vishal")  # added vishal at index or position 2
print(friends)

['Akash', 'Anand', 'Karthik', 'Vaibhav', 'Vijay']
['Akash', 'Anand', 'Vishal', 'Karthik', 'Vaibhav', 'Vijay']

#### Append Items
To add an item to the end of the list, use the append() method:

In [62]:
mylist = ["apple", "banana", "cherry"]

mylist.append("orange") # this will append orange at the end of list

print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [64]:
mylist = ["apple", "banana", "cherry"]
oldlist = ["mango", "pineapple", "papaya"]
mylist.extend(oldlist)# this will merge with mylist

print(mylist)
tuplelist = ("Guvava", "watermelon")
mylist.extend(tuplelist) # this tuple list will merge with mylist
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'Guvava', 'watermelon']

#### Python - Remove List Items

In [65]:
thislist = ["apple", "banana", "cherry", "papaya", "mango"]
thislist.remove("banana") # it will remove banana from the list
print(thislist)

thislist.pop(1) # this will delete or pop the element form index 1
print(thislist) 

thislist.pop() # this will pop the last element in the list
print(thislist)

del thislist[0] # this will delete the element from index 0
print(thislist)

thislist.clear() # this will clear the list prints empty list
print(thislist)

['apple', 'cherry', 'papaya', 'mango']
['apple', 'papaya', 'mango']
['apple', 'papaya']
['papaya']
[]

#### Loop Through a List
You can loop through the list items by using a for loop:

In [66]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [67]:
# Refering to their index numbers [0,1,2]
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [68]:
# Loop through while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1 #increment by 1 at each iteration

apple
banana
cherry

In [70]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist] # short hand for loop that will print all the list items

apple
banana
cherry

[None, None, None]

#### Python - List Comprehension

In [71]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:        # If a is found in any of the list items get added to newlist
    newlist.append(x)

print(newlist) # prints the newlist

['apple', 'banana', 'mango']

#### Sort List

In [74]:
friends = ["Akash", "Vishnu", "Karthik", "Vaibhav", "Vijay", "Anand"] ## Index 0 = Akash, 1 = vishnu, 2 = karthik
friends.sort()
print(friends)
      
friends.sort(reverse = True)
print(friends)

['Akash', 'Anand', 'Karthik', 'Vaibhav', 'Vijay', 'Vishnu']
['Vishnu', 'Vijay', 'Vaibhav', 'Karthik', 'Anand', 'Akash']